In [4]:
# important library import
import pandas as pd
from datetime import datetime

In [5]:
# csv load into pandas dataframe
df = pd.read_csv('sample.csv')

In [6]:
# displaying datatype
print(df.dtypes)

transaction_id        int64
product              object
price               float64
quantity              int64
transaction_date     object
dtype: object

In [7]:
# Convert the transaction_date from string format ('dd-mm-yyyy') to a Python datetime object.
# converting string object to python date time object
df['transaction_date'] = [datetime.strptime(i, '%d-%m-%Y') for i in df['transaction_date']]

In [8]:
# displaying datatype, and now it's showing transaction_date data type to datetime64[ns]
print(df.dtypes)

transaction_id               int64
product                     object
price                      float64
quantity                     int64
transaction_date    datetime64[ns]
dtype: object

In [9]:
# removing pandas default index
df.set_index('transaction_id', inplace=True)

In [10]:
# Add a new column total_sales which is the product of price and quantity.
# new column is added as total_sales
df['total_sales'] = df['price']*df['quantity']

In [11]:
df

                  product  price  quantity transaction_date  total_sales
transaction_id
1                   Apple   0.50        10       2023-01-01          5.0
2                  Orange   0.75         8       2023-01-02          6.0
3                  Banana   0.30        15       2023-01-03          4.5
4               Pineapple   1.00         5       2023-01-04          5.0
5                   Mango   1.50        12       2023-01-05         18.0

In [12]:
# Remove any rows with missing or null values.
# remove null value
df = df.dropna()
df

                  product  price  quantity transaction_date  total_sales
transaction_id
1                   Apple   0.50        10       2023-01-01          5.0
2                  Orange   0.75         8       2023-01-02          6.0
3                  Banana   0.30        15       2023-01-03          4.5
4               Pineapple   1.00         5       2023-01-04          5.0
5                   Mango   1.50        12       2023-01-05         18.0

In [13]:
# Save the cleaned data into a new CSV file named sales_cleaned.csv.
# saving the cleaned data to new csv file
df.to_csv('sales_cleaned.csv.')

In [25]:
 # The program should include unit tests to verify that the transformations are working correctly.

In [15]:
df1 = pd.read_csv('modified_sample.csv')

In [26]:
print(df1.dtypes)

product              object
price               float64
quantity              int64
transaction_date     object
total_sales         float64
dtype: object

In [18]:
df1.set_index('transaction_id', inplace=True)

In [28]:
df1

                  product  price  quantity transaction_date  total_sales
transaction_id
1                   Apple   0.50        10       2023-01-01          5.0
2                  Orange   0.75         8       2023-01-02          6.0
3                  Banana   0.30        15       2023-01-03          4.5
4               Pineapple   1.00         5       2023-01-04          5.0
5                   Mango   1.50        12       2023-01-05         18.0